/* Thypography */

.roam-block-container[data-page-links*="font-sans"]
> .rm-block__self
span
{
font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.roam-block-container[data-page-links*="font-serif"]
> .rm-block__self
span
{
font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

.roam-block-container[data-page-links*="font-mono"]
> .rm-block__self
span
{
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/* Background Color */

.roam-block-container[data-page-links*="bg-green-500"]
{
  --tw-bg-opacity: 1;
  background-color: rgba(16, 185, 129, var(--tw-bg-opacity));
}

.roam-block-container[data-page-links*="bg-green-200"]
{
--tw-bg-opacity: 1;
background-color: rgba(167, 243, 208, var(--tw-bg-opacity));}

/* Border Radius */

.roam-block-container[data-page-links*="rounded-none"]
{
  border-radius: 0px;
}

.roam-block-container[data-page-links*="rounded-full"]
{
  border-radius: 9999px;
}

/* Border Color */

.roam-block-container[data-page-links*="border-black"]
{
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
}

.roam-block-container[data-page-links*="border-blue"]
{
  --tw-border-opacity: 1;
border-color: rgba(59, 130, 246, var(--tw-border-opacity));}

.roam-block-container[data-page-links*="border-red"]
{
  --tw-border-opacity: 1;
border-color: rgba(239, 68, 68, var(--tw-border-opacity));}

/* Border Style */

.roam-block-container[data-page-links*="border-solid"]
{
  border-style: solid;
}

.roam-block-container[data-page-links*="border-dashed"]
{
  border-style: dashed;
}

.roam-block-container[data-page-links*="border-dotted"]
{
  border-style: dotted;
}

.roam-block-container[data-page-links*="border-double"]
{
  border-style: double;
}

.roam-block-container[data-page-links*="border-none"]
{
  border-style: none;
}

/* Box Shadow */

.roam-block-container[data-page-links*="shadow"]
{
--tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);}

.roam-block-container[data-page-links*="shadow-inner"]
{
--tw-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
